<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="subscriptionsConfiguration" type="C4rm4x.Tools.HttpUtilities.Acl.Configuration.SubscriptionsSection, C4rm4x.Tools.HttpUtilities.Acl.Extensions" />
  </configSections>
  <subscriptionsConfiguration>
    <subscriptions>
      <clear />
      <add name="Test" baseApiUrl="http://www.google.com" subscriberIdentifier="TestSubscriber" sharedSecret="aGVsbG8=" />
    </subscriptions>
  </subscriptionsConfiguration>
</configuration>