<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="subscriptionsSection" type="C4rm4x.Tools.HttpUtilities.Acl.Configuration.SubscriptionsSection, C4rm4x.Tools.HttpUtilities.Acl.Extensions" />
  </configSections>
  <subscriptionsSection>
    <subscriptions>
      <subscription name="Test" baseApiUrl="http://www.google.com" username="TestSubscriber" password="cGFzc3dvcmQ==" >
        <digitalSignature header="TestHeader" sharedSecret="aGVsbG8=" />
      </subscription>
      <subscription name="Basic" baseApiUrl="http://www.google.com" username="BasicSubscriber" password="cGFzc3dvcmQ==" />
    </subscriptions>
  </subscriptionsSection>
</configuration>